<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()">
        <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-title>
      <ion-label color="primary">Método de Pago</ion-label>
    </ion-title> -->

    <ion-buttons slot="end">
      <ion-button color="light">
        <img src="../assets/imgs/logo.svg" class="logomain" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
            <ion-label color="primary"><b>Método de Pago</b></ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <!-- <ion-item>
            <img src="assets/icon/PayU.svg" width="40" /><ion-label class="label">Link de pago</ion-label>
		        <ion-checkbox color="primary" slot="end" [(ngModel)]="datamethod[1].checked" (click)="Selection('1')"></ion-checkbox>
          </ion-item>
          <ion-item>
            <img src="https://firebasestorage.googleapis.com/v0/b/plazapp-test/o/credit-card.svg?alt=media&token=5fe851ff-454a-4bfe-85c8-835d1efb4c7a" width="40">
            <ion-label class="label">{{tarjetaselected}}</ion-label>
            <ion-checkbox color="primary" slot="end" [(ngModel)]="datamethod[2].checked" (click)="Selection('2')"></ion-checkbox>
          </ion-item> -->
          <ion-item *ngFor="let d of Mediospago">
            <img src="{{d.Imagen}}" width="40" /><span class="label">{{d.Descripcion}}<br /><small><span style="color: #5d4bff;" id="Metodo_{{d.Referencia}}"></span></small></span>
            <ion-checkbox color="primary" slot="end" [(ngModel)]="datamethod[d.Referencia].checked" (click)="Selection(d.Referencia)"></ion-checkbox>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="varpropina === false">
      <ion-col padding>
        <div class="ion-text-center">
          <ion-label color="primary"><b>¿Deseas agregar propina?</b></ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row padding [hidden]="varpropina === false">
      <ion-col class="ion-text-center">
        <div style="display: flex">
          <ion-label style="margin: auto" *ngIf="unidadNegocio === '2'">
            <div class="btn-select" [ngClass]="{'btn-selected':propina=='0'}" (click)="setPropina('0')">$0</div>
            <div class="btn-select" [ngClass]="{'btn-selected':propina=='500'}" (click)="setPropina('500')">$500</div>
            <div class="btn-select" [ngClass]="{'btn-selected':propina=='1000'}" (click)="setPropina('1000')">$1000</div>
            <div class="btn-select" [ngClass]="{'btn-selected':propina>'1000'}" (click)="setPropina('1001')">{{otherpropina}}</div>
          </ion-label>
          <ion-label style="margin: auto" *ngIf="unidadNegocio === '3'">
            <div class="btn-select" [ngClass]="{'btn-selected':propina=='0'}" (click)="setPropina('0')">$0</div>
            <div class="btn-select" [ngClass]="{'btn-selected':propina=='1'}" (click)="setPropina('1')">$1</div>
            <div class="btn-select" [ngClass]="{'btn-selected':propina=='5'}" (click)="setPropina('5')">$5</div>
            <div class="btn-select" [ngClass]="{'btn-selected':propina>'5'}" (click)="setPropina('1001')">{{otherpropina}}</div>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="cuotas === false">
      <ion-col padding>
        <div class="ion-text-center">
          <ion-label color="primary"><b>Cuotas</b></ion-label>
        </div>
        <ion-item>
          <ion-label>Cuotas</ion-label>
          <ion-select [(ngModel)]="noCuotas">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="varbolsa === false">
      <ion-col>
        <div class="ion-text-center">
          <ion-label color="primary"><b>¿Bolsa Ecológica?</b></ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row padding [hidden]="varbolsa === false">
      <ion-col class="ion-text-center">
        <div style="display: flex">
          <ion-label style="margin: auto">
            <div class="btn-select right" [ngClass]="{'btn-selected':bolsa=='0'}" (click)="setBolsa('0')">No</div>
				    <div class="btn-select right" [ngClass]="{'btn-selected':bolsa=='1'}" (click)="setBolsa('1')">Si</div>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <div class="texto-referido">
          <p>¿Tienes un código referido?</p>
          <small>Redime el código de referido y recibe saldo en fruticoins</small>
        </div>
      </ion-col>
      <ion-col>
        <div class="pt-2">
          <input type="text" class="referido" [(ngModel)]="referido" size="8">
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col>
          <div class="ion-text-center">
              <ion-button size="large" (click)="Checkout()" id="Confirma">Checkout</ion-button>
          </div>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>