ion-content {
	// .pro_dia {}
	// .pro_hora {}
	.pro_continue {
		ion-button {
			width: 100%;
			max-width: 100%;
		}
	}
	h2 {
		color: var(--ion-color-primary);
		text-align: center;
	}
	.btn-continue {--background:var(--ion-color-primary);margin-top:20px;}
	.disabled {--background:gray;}
}
div.buttonbar4 {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    button {
        /* use width: 23% for 4 buttons, width: 18.2% for 5 buttons */
        width: 23%;
        font-size: 11px;
        height: 40px;
        ion-col {
            text-align: center;
            ion-icon {
                /* margin-bottom controls the space between the icons and text */
                margin-bottom: 3px;   
            }
        }
    }
}
.buttonDay
{
	border: dotted 1px;
	border-color: var(--ion-color-primary);
	color: var(--ion-color-primary);
	padding: 15px;
	text-align: center;
}
.selected{
	color: #ffffff;
	background-color: var(--ion-color-primary);
}
.numeroDia{
	font-weight: bolder;
	font-size: 18px;
}
.Dia{
	font-size: 9px;
	text-transform: capitalize;
}
.hora
{
	border: solid 1px;
	border-color: #00ff00;
	color: #00ff00;
	padding: 15px;
	text-align: center;
}
.selectedHora{
	color: #ffffff;
	background-color: #00ff00;
}