ion-header {
    ion-toolbar {
        height: 15vw;
        display: flex;
    }
    ion-title {
        ion-select {  max-width: 100% !important; }
    }
}
ion-content {
	.categoria {height: 40vw;}
	.t_opcion {background: #eee;}
	ion-slides{
	    height: 165px;
		.image_shop {    
			height: 100px;
		    width: 100px;
		    display: block;
		    position: absolute;
		    top: 0px;
		    border-radius: 50%;
		}
		.title_shop {
			position: absolute;
		    top: 110px;
		    font-size: 12px;
			font-weight: bold;
			padding: 0 4px;
		}
		.price_shop {
			position: absolute;
		    top: 130px;
		    font-size: 16px;
		    font-weight: bold;
		    color: var(--ion-color-primary)
		}
		ion-button {
			width: 100%;
		    font-size: 10px;
		    position: absolute;
		    top: 150px;
		}
	}
}
