ion-header{
    background-color: var(--ion-color-primary);
    //height: 60px;
}

.titulo{
    color: white;
    padding: 20px;
    text-align: center;
}

.input{
    padding: 10px;
}

.campo{
    border: solid 0.5px #5d4bff;
    width: 100%!important;
    padding: 18px;
    color: #5d4bff;
    font-weight: bolder;
    text-align: center;
}