ion-content {
	.avatar {
		height: 100px;
	    width: 100px;
	    margin: 0 auto;
	    border-radius: 50%;
	}
	h2 {
		text-align: center;
	    color: var(--ion-color-primary);
	    font-weight: bold;
	}
	ion-input {
		border-bottom: 1px solid;
	}

	ion-button {width: 100%;}
}