ion-content {
	.label-start {text-align: left;}
	.label-justify {
		text-align: justify;
	}
	.label-bold {
		font-weight: bold;				
	}
	.label-color {
		color:#5d4bff;
	}
	.span-cursive {
		font-style: italic;
	}
	.label-cursive {
		font-size: small;
		font-style: italic;
		text-align: center;
	}
	.label-end {text-align: right;}
	.title-done {text-align: center;color: var(--ion-color-primary);font-size: 6vw;margin-bottom: 25px;}
	ion-icon {
		position: relative;
	    top: 25px;
	    width: 2em;
	    height: 2em;
	}
}

.texto{
	text-align: center;
	color: var(--ion-color-primary);
	padding: 20px;
	font-weight: bolder;
}

.Link{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    color: var(--ion-color-primary);
    font-weight: bolder;
}