.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.text-credits{
    font-size: 20px;
    font-weight: bolder;
}

select, option, ion-select{
    min-width: 100%;
    padding: 13px;
    border-radius: 2px;
    border-color: var(--ion-color-primary);
    color: var(--ion-color-primary);
}

.label{
    color: var(--ion-color-primary);
    font-size: 22px;
}

.linea {
    margin:0px 20px;
    width: 37%;    
    border-top:1px solid #999;
    position: relative;
    top:10px;
    float:left;
    }
  
  .leyenda {
    font-weight:bold;
    float:left;
    text-align: center;
   }