ion-header {
  ion-toolbar {
      height: 15vw;
      display: flex;
  }
  ion-title {
      ion-select {  max-width: 100% !important; }
}
.t_opcion {background: #FFF; color: var(--ion-color-primary); font-weight: bolder;}
}
ion-content {
  ion-card {
    background-color: white;
    margin-top: 0;
  }
  text-align: center;
  .title{						
    font-size: 6vw;
    color: var(--ion-color-primary);
  }
  .grid {
    padding: 0 15px;
    .row{
      border: 1px solid black;
      // text-align: left;
      // font-style: italic;
    }
    .rowBorder {
      border-bottom: none; 
      border-top: none;
    }
    .rowBorderTop {
      border-top: none;
    }
    .colBorder {
      border-right: 1px dashed;
    }
    .colColor {
      // background-color:#5D4BFF; opacity: 0.97; color: white;
      opacity: 0.7;
    }
    .colColorWhite {
      background-color: white;
      color: black;
    }
    .colAlignLeft{
      text-align: left;
      font-weight: bold;
    }
    .colAlignCenter{
      text-align: center;
    }
    .colAlignRight{
      text-align: right;
    }
  }

}



 