<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="title-done">
		{{status}}
	</div>
	<div class="productos">
		<div class="producto-title">
			<!--<div class="col col10">ID</div>-->
			<div class="col col30">Producto</div>
			<div class="col col30">Cant</div>
			<div class="col col30">Presentación</div>
			<!-- <div class="col col30">Subtotal</div> -->
		</div>
		<div class="producto clearfix" *ngFor="let item of productos">
			<!--<div class="col col10">{{ item.id }}</div>-->
			<div class="col col30">{{ item.Producto }}</div>
			<div class="col col30">{{ item.cantidad }}</div>
			<div class="col col30">{{ item.Presentacion }}</div>
			<!-- <div class="col col30">{{ item.precio | currency:"$":true:"1.0" }}</div> -->
		</div>
	</div>
	<ion-item>
		<ion-col size="12" class="text-center" text-center>
			<ion-row>
				<ion-col size="12">
					<ion-button color="primary" (click)="addCart()">Volver a pedir</ion-button>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-item>
	<ion-item>
		<ion-label><ion-icon src="assets/icon/calendar.svg"></ion-icon> Fecha</ion-label>
		<!-- <ion-label class="label-end">{{fecha|date: "dd/MM/yyyy"}}</ion-label> -->
		<ion-label class="label-end"><small>{{fecha}}</small></ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="label-start"><ion-icon src="assets/icon/metodo_pago.svg"></ion-icon> Método</ion-label>
		<ion-label class="label-end">{{metodo}}</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="label-start"><ion-icon src="assets/icon/bag.svg"></ion-icon> Bolsa</ion-label>
		<ion-label class="label-end">{{bolsa}}</ion-label>
	</ion-item>	
	<ion-item>
		<ion-label class="label-start"><ion-icon src="assets/icon/bar.svg"></ion-icon> Propina</ion-label>
		<ion-label class="label-end">{{moneda}} {{ unidadNegocio == "2" ? (propina | currency:"":"":"1.0")  : (propina | formatoMoneda) }}</ion-label>
	</ion-item>	
	<ion-item>
		<ion-label class="label-start">Total</ion-label>
		<ion-label class="label-end">{{moneda}} {{ unidadNegocio == "2" ? (total | currency:"":"":"1.0")  : (total | formatoMoneda) }}</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="label-start">Comentarios</ion-label>
		<ion-label class="label-end">{{comentarios}}</ion-label>
	</ion-item>
</ion-content>
