<ion-content>
        <ion-grid>
            <div class="backbutton" (click)="goIntro()">
              <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </div>
            <ion-row padding>
              <ion-col size="12">
                <ion-item>
                    <ion-label><ion-icon size="large" src="assets/icon/ico-usuario.svg"></ion-icon></ion-label>
                    <ion-input color="primary" type="text" placeholder="Nombre de usuario" [(ngModel)]="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label><ion-icon size="large" src="assets/icon/ico-pass.svg"></ion-icon></ion-label>
                    <ion-input color="primary" type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">   
                    <ion-button fill="outline" (click)="login()">INGRESAR</ion-button>
              </ion-col>
              <ion-col size="12">
                  <ion-button size="small" color="fb" (click)="fbLogin()">Entra con Facebook</ion-button>
                  <ion-button size="small" color="gm" (click)="googleLogin()">Entra con Google+</ion-button>
              </ion-col>
              <ion-col>
              <p>*Al logearte aceptas los <span (click)="goTerminos()">términos y condiciones</span></p>
              </ion-col>
              <ion-col size="12">
                  <ion-row class="botones">
                      <ion-col size="6">
                        <ion-button fill="outline" (click)="goReg()">Crear cuenta</ion-button>
                      </ion-col>
                      <ion-col size="6">
                        <ion-button fill="outline" (click)="goRepass()">¿Olvidaste tu contraseña?</ion-button>
                      </ion-col>
                  </ion-row>
              </ion-col>
          </ion-row>
        </ion-grid>
</ion-content>
