.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.center {
    display: block;
    margin: auto;
    width: 50%;
}
.text-credits{
    font-size: 20px;
    font-weight: bolder;
}
.codigo
{
    color: #00ff00!important;
    font-size: larger;
    border: var(--ion-color-primary) 2px dotted;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.pad{
    padding: 10px;
}