ion-content {
	.image_receta {
		    max-width: 200px;
    	margin: 0 auto;
    	width: 200px;
    	height: 200px;
    	border-radius: 50%;
	}
	.title_receta {
		text-align: left;
	    font-size: 7vw;
	    font-weight: bold;
	    color: var(--ion-color-primary);
	    margin: 10px 0; 
	}
	.main {font-size: 9vw;text-align: center;}
	.des_receta {text-align: justify;}
	.othertitle {color: var(--ion-color-primary);text-align: center;}
	ion-button {width: 100%; }
}