<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="openMenu()" [disabled]="nologin">
                <ion-icon src="assets/icon/ico-menu.svg" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            <!-- <app-direcciones [hidden]="true"></app-direcciones> -->
        </ion-title>

        <div class="ion-text-center">
            <ion-label color="primary"><b>{{nologin === true ? 'Invitado' : Ciudad}}</b></ion-label>
        </div>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="frutcoins"><a (click)="fruitcoins()">Tienes <span class="vfruitcoins">{{FruitCoins| currency:"$"}}</span> FrutiCoins </a></div> -->
    <div class="frutcoins" *ngIf="!nologin"><a (click)="fruitcoins()">Verifica tus FrutiCoins</a></div>

    <!-- <div *ngIf="(Link.length) > 0" class="Link ion-text-center" (click)="AbrirVentana()">Tienes un pago pendiente ¡pagalo acá!</div> -->

    <ion-slides class="rotador" pager="true" [options]="slideOptsOne">
        <ion-slide *ngFor="let slider of sliders">
            <a href="{{slider.link}}">
                <img src="{{urlimagen}}{{slider.imageEs}}"/>
            </a>
            
        </ion-slide>
    </ion-slides>

    <div padding [hidden]="isloading">
        <div class="user_anonimo" *ngIf="nologin">Estás navegando como usuario invitado, para poder comprar debes <span (click)="goLog()">iniciar sesión</span>.</div>
            
        
        
        <div class="t_opcion">
            <h2>Categorías de productos</h2>  
            <!-- <h2 class="button-option" (click)="verCategoria()">Ver todos</h2> -->
        </div>

        <div class="categorias" *ngFor="let item of categorias">
            <div class="cat" (click)="goShop(item.id)">
                <img src="{{item.imagen}}" alt="Categoria" style="width: 100%;">
            </div>
        </div>
        <div class="categorias" *ngFor="let cat of categoriaMedicos">
            <div class="cat">
                <img (click)="goRecetas()" src="{{cat.valor.img}}" alt="Categoria" style="width: 100%;">
            </div>
        </div>

    </div>
    <div class="loader" [hidden]="!isloading"><img src="assets/imgs/load.gif" alt="Loading"></div>

</ion-content>
  
